<div class="content-section" id="index">
    <div class="container">
        <div class="row col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 style="margin: 0 0 10px;">Mentor Application</h2>
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong></strong> We will keep your information confidential ( <a>policy</a> ) ，in order to guarantee rights for all parties, please make sure the accuracy of your information.
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Personal Information</h3>
                        </div>
                        <div class="panel-body">
                            <form class="" role="form">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <div>
                                            <!--<div data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                            <label for="email">Display Name</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid" placeholder="will be displayed in the website" data-ng-model="user.showName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <!--<div data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                                        <div>
                                            <label for="password">Real Name</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid" placeholder="" data-ng-model="user.realName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <div>
                                            <!--<div data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                            <label for="email">Email</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid ng-valid-email" id="email" placeholder="email will be used as login account" data-ng-model="user.email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <!--<div data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                                        <div>
                                            <label for="password">Password</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid" id="password" placeholder="" data-ng-model="user.password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <div>
                                            <!--<div data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                            <label for="email">wechat #/QQ #</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid" placeholder="" data-ng-model="user.wechat">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <!--<div data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                                        <div>
                                            <label for="password">Cellphone</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid" placeholder="" data-ng-model='user.cellphone'>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Professional Background</h3>
                        </div>
                        <div class="panel-body">
                            <form class="" role="form">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <div>
                                            <!--<div data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                            <label for="email">LinkedIn</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid" placeholder="example: https://www.linkedin.com/in/abc " data-ng-model="user.linkedin">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <div>
                                            <!--<div data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                            <label for="email">Most Recent School</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid ng-valid-email" placeholder="" data-ng-model="user.school1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <!--<div data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                                        <div>
                                            <label for="password">Major</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid" placeholder="" data-ng-model="user.major1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <div>
                                            <!--<div data-ng-class="{'has-error': contactInfoErrors.setsEmail}">-->
                                            <label for="email">School Email</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid" placeholder="" data-ng-model="user.schoolEmail">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <!--<div data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                                        <div>
                                            <label for="password">Most Recent Company</label>
                                            <div style="clear:both"></div>
                                            <input type="text" class="form-control pull-left ng-pristine ng-valid" placeholder="" data-ng-model='user.company1'>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <!--<div data-ng-class="{'has-error': contactInfoErrors.setsPassword}">-->
                                        <div>
                                            <label for="password">Self Introduction</label>
                                            <div style="clear:both"></div>
                                            <textarea type="text" class="form-control pull-left ng-pristine ng-valid" placeholder="use at least 100 characters to introduce yourself" data-ng-model='user.intro'></textarea>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" data-ng-click="apply()">
                        Submit Application
                    </button>
                    <button type="button" class="btn btn-default" data-ng-click="reset()">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>